/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #ff6c00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2640a;
}
