.userWindow {
  margin: 0 auto;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 23rem;
}

.userImage img {
  width: 15rem;
  height: 21rem;
  border-radius: 9px;
  object-fit: cover;
}

.userInfo {
  margin-left: 2rem;
}

.userInfo h1 {
  font-size: 2rem;
}

.userInfo p {
  width: 15rem;
  height: 14rem;
}

/* PROFILE POSTS */

.profilePosts {
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 64rem;
}

.profilePostCard {
  border: 1px solid grey;
  border-radius: 9px;
  margin: 0.4rem;
  height: 19.5rem;
  -webkit-box-shadow: 3px 6px 15px 5px rgba(0, 0, 0, 0.17);
  box-shadow: 3px 6px 15px 5px rgba(0, 0, 0, 0.17);
}

.profilePosts img {
  width: 15rem;
  height: 18rem;

  border-radius: 9px;
  object-fit: cover;
}

.profilePostCardComments {
  text-align: center;
  color: grey;
  font-size: 0.9rem;
}

/* User-Panel Css goes here cuz its same as this */

.userInfo form {
  width: 27.8rem;
}

.userInfo form textarea {
  margin-top: 1rem;
  resize: none;
  border-radius: 9px;
}
