.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 11;
  -webkit-box-shadow: 3px 6px 15px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 3px 6px 15px 5px rgba(0, 0, 0, 0.55);
}
/* Left side */
.leftHeader img {
  margin-left: 5rem;
  width: 20rem;
  object-fit: contain;
}

.mainMenu {
  display: flex;
  flex-direction: row;
}
.mainMenu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0.3rem;
}
.mainMenu > ul > li {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.mainMenu > ul > li > a {
  text-decoration: none;
  color: black;
}

.mainMenu > ul > li > a:hover {
  transition: all 0.9s;
  color: #ff6c00;
}

/* right side */
.rightHeader {
  display: flex;
  align-items: center;
  object-fit: contain;
  margin-right: 5rem;
  width: 9rem;
}

/*  */

.dropbtn {
  color: #ff6c00;
  font-size: 16px;
  border: none;
  width: 9rem;
}

.dropbtn img {
  border: 2px solid #ff6c00;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #ff6c00;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search bar */

.searchBar {
  margin-top: 0.5rem;
}

.SearchBarInput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.SearchBarInput:focus {
  color: rgb(204, 127, 55);
  background-color: #fff;
  border-color: rgb(204, 127, 55);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(204, 127, 55, 0.25);
}

.searchDropDown {
  z-index: 2;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 11%;
  -webkit-box-shadow: 0px 18px 15px 5px #000000;
  box-shadow: 0px 18px 15px 5px #000000;
  border-radius: 0px 0px 9px 9px;
}

.searchBarImg img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.searchDropDown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchDropDown li {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.searchDropDown li a {
  display: flex;
  gap: 2px;
}
.searchDropDown a {
  text-decoration: none;
  color: black;
}

.searchDropDown a:hover {
  text-decoration: none;
  color: #ff6c00;
  font-weight: bold;
}

/* NEW POST */

.newPost {
  margin-right: 3rem;
}

.button-53 {
  background-color: #ff6c00;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
